@font-face {
  font-family: 'Krasar-Regular';
  src: url(Krasar-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Krasar-Regular', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e0d1;
}

.container {
  max-width: 777px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 50px;
  border: none;
  background-color: #d04f1b;
  padding: 0.7rem 1rem 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 100px;
  font-size: 21px;
  line-height: 1.5;
  position: relative;
}

button a {
  color: white;
  text-decoration: none;
}

button::before {
  content: '';
  position: absolute;
  background-color: #c62005;
  top: 2.1px;
  left: 2.1px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100px;
}

button:active {
  transform: scale(0.98);
}

@media(max-width: 700px) {
  button {
    font-size: 0.9rem;
    margin-top: 25px;
  }
}